body{
  background-color: green;
}

.row{
  float: right;
  padding-right: 50px;
}

h1 {
  float: right;
  padding: 30px;
  background-color: blue;
  border: 35px solid red;
  height: 400px;
  width: 400px;
}
